@charset "utf-8";

/* reset */
* {
    margin: 0px;
    padding: 0px;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  a {
    width: 100%;
    display: block;
    text-decoration: none;
    color: #222;
  }
  
  @font-face {
    font-family: "GmarketSansMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "MangoDdobak-B";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2")
      format("woff2");
    font-weight: 700;
    font-style: normal;
  }
  
  body {
    background-color: rgb(213, 210, 216);
    overflow-x: hidden;
    /* font-family: "MangoDdobak-B"; */
    word-break: keep-all;
  }

  .inner{width:1400px; margin:0px auto;}

 
/* header */
  header .menuBox {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    z-index: 99;
  }

  header h1 {
    width:80px;
    height:70px;
    position: relative;
    cursor:pointer;
  }
  header h1 img.h_2 {
    width: 80px;
    cursor: pointer;
  }
  header h1 img.h_1 {
    position:absolute;
    width:50px;
    right:15;
    bottom:0;
    transition:1s;
    z-index:-1;
    opacity:0;
  }
  header h1 .subLogo {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  header .menu {
    display: flex;
    gap:25px;
  }
  header .menu a {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400px;
    font-size: 25px;
    -webkit-text-stroke: 0px #333;
    color: transparent;
    text-shadow: 1px 1px 1px rgb(213, 210, 216), 1px 2px 0 #a8a7a6,
    2px 3px 0 #8b8a89, 2px 4px 0px #7d7b7a, 3px 5px 0px #686766;
  }
  header .menu a:hover {
    text-shadow: none;
    -webkit-text-stroke: 1px #222;
    color: transparent;
    transition: 0.3s;
  }
  .menuBox .mene_mob {
    display: none;
  }

/* navi */
  .naviBar {
    display: flex;
    position: fixed;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
  }

  .navi {
    /* background-color: red; */
    padding: 2px;
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
  }

  .navi li {
    width: 15px;
    height: 15px;
    margin: 20px 10px;
    background-color: #fcbca1;
    border: 1px solid #fcbca1;
    border-radius: 50%;
    -webkit-text-stroke: 0 #333;
    color: transparent;
    box-shadow: 0px 1px 1px #fcbca1, 0px 2px 3px #a8a7a6, 0px 3px 1px #8b8a89;
  }

  .navi li:hover {
    box-shadow: none;
    border: 1px solid #222;
    cursor: pointer;
  }

  .navi li.on {
    box-shadow: none;
    -webkit-text-stroke: 1px #222;
    color: transparent;
    border: 1px solid #222;
    transition: 1s;
  }

  .navT {
    height: 500px;
    box-sizing: border-box;
  }

/* container */
  #container > div:not(:last-child) {
    height: 100vh;
    box-sizing: border-box;
  }

/* section1 */
  #section1 {
    position: relative;
  }
  #section1 h2 {
    font-size: 150px;
    color: rgb(213, 210, 216);
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    text-align: right;
    transition: 1s;
  }
  #section1 h2.embo {
    font-size: 150px;
    color: rgb(213, 210, 216);
    text-shadow: 1px 1px 1px #c0c0c0, 1px 2px 0 #a8a7a6, 2px 3px 0 #8b8a89,
      2px 4px 0px #7d7b7a, 3px 5px 0px #686766, 3px 6px 3px #5f5e5d,
      4px 7px 3px #5f5e5d, 5px 8px 3px #5f5e5d;
    z-index: 98;
  }
  #section1 h2:hover {
    text-shadow: none;
    -webkit-text-stroke: 1px #222;
    color: transparent;
    cursor: pointer;
    transition: 0.3s;
  }
  #section1 li {
    width: 1px;
    height: 1px;
    position: absolute;
  }
  .room .top {
    background-color: #222;
    bottom: 350px;
    left: 750px;
  }
  .room .bottom {
    background-color: #222;
    top: 380px;
    left: 750px;
  }
  .room .right {
    background-color: #222;
    top: 570px;
    left: 750px;
  }
  #section1 .room .left {
    width: 1px;
    height: 1000px;
    top: 282px;
    left: 297px;
    transform: rotate(65deg);
  }
  .room .left p {
    width: 100%;
    height: 0%;
    background-color: #222;
  }

/* section2 */
  #section2 {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  #section2 .inner{
    display:flex;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }  
  .about_wrap{
    width:35%;
    border-right:1px solid #111;
    padding-right:30px;
  }
  .about_wrap img{
    width:70%;
    display:block;
    margin:0px auto;
  }
  .about_wrap .pro_txt{
    width:80%;
    margin:0px auto;
  }
  .about_wrap .pro_txt h4{
    font-family: "Archivo Black", sans-serif;
    font-size:38px;
    font-weight:800;
    margin:70px 0px;    
    text-align:center;
  }  
  .about_wrap .pro_txt h4 span{
    margin:0px 20px;
  }
  .about_wrap .pro_txt .tit{
    font-size:20px;
    margin-bottom:20px;
  }
  .cer_wrap{
    width:65%;
  }
  .cer_wrap .con{    
    padding:30px 70px;
  }
  .cer_wrap .con:not(:last-child){    
    border-bottom:1px solid #111;
  }
  .cer_wrap .con .tit{
    display:inline-block;
    font-size:20px;
    font-weight:700;
    margin-bottom:10px;
    /* background:#fcbca1;
    border-radius:25px;
    padding:5px 15px; */
  }
  .cer_wrap .con .txt{
    padding-left:10px;
  }
  .certificate{
    display:flex;
    flex-wrap:wrap;
  }
  .certificate > li{
    width:calc(100% / 3);
    display:flex;
    align-items:center;
    margin:5px 0px;
  }
  .certificate .img_wrap{
    width:50px;
  }
  .certificate img{
    width:26px;
    display:block;
    margin:0px auto;
  }
  .certificate i{
    width:50px;
    font-size:30px;
    text-align:center;
  }
  .certificate .dot{
    display:flex;
    gap:10px;
  }
  .certificate .dot li{
    width:15px;
    height:15px;
    border-radius:50%;
    border:1px solid #111;
  }
  .certificate .dot li.full{
    background:#111;
  }
  .certificate .dot li .half{
    width:50%;
    height:100%;
    border-radius:50px 0px 0px 50px;
    border:1px solid #111;
    background:#111;
    margin-top:-1px;
    margin-left:-1px;
  }
  /* section3 */
  #section3{    
    padding-top:100px;
  }
  #section3 .de_wrap{
    width:100%;
    height:100vh;
    border-top:1px solid #111;
    display:flex;
    overflow:hidden;
  }
  #section3 .de_left{
    width:40%;
    height:100vh;
    padding-top:100px;
    padding-left:250px;
    line-height:30px;
  }
  #section3 .de_left > div{
    padding:30px 50px;
    margin-top:-1px;
    cursor:pointer;
  }
  #section3 .de_left > div:hover{
    /* background:#f3d7cb; */
    border:1px solid #111;
  }
  #section3 .de_left > div:not(:last-child){
    padding-bottom:30px;
    border-bottom:1px solid #111;
  }
  #section3 .de_left h4{
    font-size:20px;
  }
  #section3 .de_left .txt {
    margin-top:30px;
  }
  #section3 .de_left .txt > div{
    display:flex;
    align-items:center;
  }
  #section3 .de_left .txt p{
    width:60px;
  }
  #section3 .de_left .txt b{
    width:100px;
    height:20px;
    background:#111;
    margin-right:10px;
  }
  #section3 .de_left .txt .box{
    width:100px;
    height:20px;
    border:1px solid #111;
    margin-right:10px;
  }
  #section3 .de_left .txt .box b{
    display:block;
    width:60%;
    height:100%;
    background:#111;
  }
  #section3 .de_right{
    width: 60%;
    height:100vh;
    background:#f3d7cb;
    display: flex;
    justify-content: center;
    align-items: center;     
    position:relative;    
  }
  #section3 .de_right img{
    height: auto;
    position:absolute;
    display:none;
  }   
  #section3 .de_right img.on{
    display:block;
  }
    /* section4 */
    #section4 {
      width: 100%;
      height: 100vh;
      position: relative;
      box-sizing: border-box;
      border-top:1px solid #222;
      border-bottom:1px solid #222;
      overflow:hidden;
    }
   #section4 .cont{
    width:100%;
    height:100vh;
    background-image:url(../img/section03_bak01.jpg);
    background-size:cover;
    padding-top:200px;
   }
   #section4 .cont .subTitle{
    width:1000px;
    display:flex;
    justify-content:center;
    gap:15px;
    margin:auto;
   }
   #section4 .cont .subTitle li{
    width:calc((100% - 45px) / 4);
    text-align:center;
    background:rgba(255,255,255,.5);
    padding:10px;
    border-radius:20px;
    cursor:pointer;
   }
   #section4 .cont .subTitle li.on{
    background:#fff;
   }
   #section4 .cont h3{
    font-size:80px;
    font-family: "Black Ops One", system-ui;
   }
   #section4 .text_wrap{
    width:1000px;
    height:400px;
    margin:80px auto;
    transition: all 0.5s ease;
    /* position:relative; */
    overflow:hidden;
   }
   #section4 .text_wrap ul{
    width:400%;
    display:flex;
    position:relative;
    /* top:0;
    left:0; */
   }
   #section4 .text_wrap li{
    width:100%;
    display:flex;
   }
   #section4 .text_wrap li.back{
    position:absolute;
    top:0px;
    left:100%;
   }
   #section4 .text_wrap .tit{
    font-size:28px;
    margin:40px 0px;
   }
   #section4 .text_wrap .in_btn{
    width:345px;
    background:#fff;
    text-align:center;
    padding:20px;
    margin-top:100px;
    
   }
    /* section4 */
  #section5 {
    box-sizing: border-box;
    padding: 200px;
    position: relative;
  }

  #section5 .bBox {
    text-align: right;
    position: relative;
  }

  #section5 .big {
    font-size: 100px;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  #section5 .big li:hover {
    -webkit-text-stroke: 1px #222;
    color: transparent;
    cursor: pointer;
  }

  #section5 .big .on {
    animation: bling infinite 1.5s ease;
  }

  @keyframes bling {
    0% {
      -webkit-text-stroke: 1px #222;
      color: transparent;
    }

    100% {
      color: #222;
    }
  }

  #section5 .sBox {
    font-family: "Black Ops One", system-ui;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
  }

  #section5 .small li {
    opacity: 0;
    font-size: 35px;
  }

  #footer {
    font-family: "Black Ops One", system-ui;
    width: 100%;
    height: 50px;
    display:flex;
    justify-content:space-between;
    padding:0px 50px;
    box-sizing:border-box;
  }

  